.idea/
venv/
.env
__pycache__/
.ipynb_checkpoints/
.vscode/
postgres_data/
redis_data/
blueprints/__pycache__/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
test.ipynb
static/img/*
autopep8
.venv/
.pytest_cache
celerybeat-schedule.db
credentials.json
hd_statistics/